<div class="footer-container pure-g" ng-controller="FooterCtrl as ctrl">
    <div class="pure-u-1-3 rel">
        <div class="button1">
            <a class="footer-title animated bounceInUp"
               href="developer"
               ng-class="{'active-panel': ctrl.$location.path() == '/developer'}">
               Desenvolvedor<br>web
            </a>
        </div>
    </div>
    <div class="pure-u-1-3 rel">
        <div class="button1 animated flipInX">
            <a class="footer-title"
               href="quemsou"
               ng-class="{'active-panel': ctrl.$location.path() == '/quemsou'}">
                <b>Quem é<br>Mate Paiva?</b>
            </a>
            <div ng-if="ctrl.$location.path() == '/'">
                <div class="footer-line"></div>
                <figure class="footer-avatar"><img src="images/avatar_portfolio.jpg" alt="" /></figure>
                <div class="footer-line2"></div>
            </div>
        </div>
    </div>
    <div class="pure-u-1-3 rel">
        <div class="button1">
            <a class="footer-title animated bounceInUp"
               href="writer"
               ng-class="{'active-panel': ctrl.$location.path() == '/writer'}">
                Conteúdo<br>web
            </a>
            <!--  'view/panelJor.html' -->
        </div>
    </div>
    <!-- <div class="footer-description">
        <p>
            Apaixonado por escrever: seja em linguagem de máquina ou humana. Formado em Jornalismo e pós-graduado em Cibercultura, trabalho com conteúdo web desde 2010. No final de 2012, fiz uma viagem de bicicleta entre SP, MG e RJ que me rendeu muita vivência e ótimas histórias. Em 2015, descobri um novo universo com a programação. Tenho a esperança de nunca parar de aprender.
        </p>
    </div> -->
</div>

</div>
