<div class="header-home-btn">
    <a href="/"
    class="fa fa-home"
    aria-hidden="true"></a>
</div>
<div class="header-social-btn">
    <a href="https://www.linkedin.com/in/matepaiva"
    target="_blank" class="fa fa-linkedin"
    aria-hidden="true">
    </a>
    <a href="https://github.com/matepaiva"
    target="_blank" class="fa fa-github"
    aria-hidden="true"></a>
</div>
<div class="header-i18n">
    <switch name=isEnglish
    ng-model="headerCtrl.isEnglish"
    ng-change="headerCtrl.changeLanguage()">
    </switch>
</div>
