RewriteEngine on
RewriteCond %{HTTP_HOST} ^api.matepaiva.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.api.matepaiva.com$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]

RewriteEngine on
RewriteCond %{HTTP_HOST} ^matepaiva.com/api$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.matepaiva.com/api$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]