<div class="job-container">
    <div class="pure-g job-header-container">
        <div class="pure-u-1 pure-u-sm-1-2">
            <h2 class="job-title" ng-bind-html="job.title"></h2>
            <br>
            <div class="pure-form pure-form-aligned">
                <div class="pure-control-group">
                    <label >Cliente</label>
                    <span>{{job.client}}</span>
                    <figure class="logo-client-active">
                        <img ng-src="{{job.imgBaseurl}}{{job.logo}}" />
                    </figure>
                </div>

                <div class="pure-control-group">
                    <label ng-if="isDateNow(job.date.end)">Início - Fim</label>
                    <label ng-if="!(isDateNow(job.date.end))">Desde</label>
                    <span>★ {{job.date.start | date: "MM.yyyy"}} </span><span ng-if="isDateNow(job.date.end)">&nbsp&nbsp † {{job.date.end | date: "MM.yyyy"}} </span>
                </div>
            </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2 job-description">
            <p ng-bind-html="job.description"></p>
        </div>
    </div>
    <div class="pure-g job-imgs-container">
        <div ng-repeat="img in job.imgs" class="pure-u-1 pure-u-sm-1-{{img.size}} l-box">
            <img ng-src="{{job.imgBaseurl}}{{img.src}}" class="job-imgs" />
        </div>
    </div>
</div>
